/* current-weather.component.css */

:host {
  display: block;
  max-width: 600px; /* Maksymalna szerokość komponentu */
  margin: 0 auto; /* Wyśrodkowanie komponentu na stronie */
}

.container {
  border: 2px solid #080e41; /* Prostokątna obwódka z zaokrąglonymi kątami */
  border-radius: 8px; /* Promień zaokrąglenia kątów */
  padding: 20px; /* Wewnętrzny odstęp dla całego bloku */
  font-family: 'Roboto', sans-serif; /* Wybierz dowolną czcionkę */
}

h2 {
  color: #080e41; /* Zielony kolor nagłówka */
}

p {
  margin: 0.5em 0; /* Marginesy dla paragrafów */
  color: #000; /* Czarny kolor tekstu */
  font-size: 16px; /* Rozmiar tekstu */
  line-height: 1.5; /* Wysokość linii */
}

div {
  margin-top: 20px; /* Dodatkowy margines na górę dla divów wewnątrz komponentu */
}

input {
  padding: 5px;
  margin-right: 10px; /* Margines z prawej strony dla inputa */
}

button {
  padding: 8px 12px;
  background-color: #d32f2f; /* Czerwone tło przycisku */
  color: #fff; /* Biały kolor tekstu na przycisku */
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #b71c1c; /* Ciemniejsze czerwone tło przycisku po najechaniu myszką */
}
