
:host {
  display: block;
  max-width: 600px;
  margin: 0 auto;
}

.container {
  border: 2px solid #080e41;
  border-radius: 8px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #080e41;
}

p {
  margin: 0.5em 0;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}

div {
  margin-top: 20px;
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 8px 12px;
  background-color: #d32f2f;
  color: #fff;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #b71c1c;
}
