<!-- current-weather.component.html -->

<div *ngIf="currentWeather">
  <h2>Aktualna Pogoda</h2>
  <p>Data: {{ currentWeather.date }}</p>
  <p>Temperatura Zewnętrzna: {{ convertToCelsius(currentWeather.temperatureOut) | number:'1.0-1' }} °C</p>
  <p>Najwyższa Temperatura Dnia: {{ convertToCelsius(currentWeather.hiTemperature) | number:'1.0-1' }} °C</p>
  <p>Najniższa Temperatura Dnia: {{ convertToCelsius(currentWeather.lowTemperature) | number:'1.0-1' }} °C</p>
  <p>Prędkość Wiatru: {{ currentWeather.windSpeed | number:'1.0-1' }} km/h</p>
  <p>Kierunek Wiatru: {{ currentWeather.windDirection }}</p>
  <p>Opady Deszczu: {{ currentWeather.rain | number:'1.0-1' }} mm</p>
  <p>Wilgotność: {{ currentWeather.outHuminity | number:'1.0-1' }}%</p>
  <p>Odczucie Temperatury: {{ currentWeather.windChill | number:'1.0-1' }} °C</p>
  <p>Ciśnienie: {{ currentWeather.bar | number:'1.0-1' }} hPa</p>
  <p>Ostatnie Pobranie Danych: {{ currentWeather.date }} o {{ currentWeather.time }}</p>

  <div>
    <input type="text" [(ngModel)]="currentDateInput" placeholder="Wprowadź datę (dd.mm.yyyy)">
    <button (click)="onDateInputChange()">Sprawdź</button>
  </div>

  <div>
    <button (click)="goToTemperatureChart()">Zobacz Wykres Temperatury</button>
  </div>
</div>
